@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<body style="background-color:#55B8F9;">
</body>
</html>
<div class="text-center">
    <h1 class="display-4">PROG6212 POE PART 3</h1>
    <p>Click the buttons above to use the Program</p>
    <p>This Program will allow you to load modules and will help you study for each module by giving study hours for the modules </p>
    

</div>

@*@Html.ActionLink("Test click","Index","Test")*@
