@{
    ViewData["Title"] = "Add Modules";
}
<!DOCTYPE html>
<html>
<body style="background-color:#55B8F9;">
</body>
</html>
<h1>@ViewData["Title"]</h1>

<p>For more information of how to use this website. Please go to this website:</p>
<p>https://github.com/Yuvin15/PROG_POE_Part3</p>
