@model PROG_POE_Part3.Models.User

@{
    ViewData["Title"] = "Log In Page";
}
<h1>Log In Page</h1>
<h4>Enter in your details</h4>
<hr />
<tr>  
    <tr>
        <th> Enter in your Username </th>  
        <td> <input type="text" id="UsernameGet" name="usernameGet" class="form-control" /> </td>  
    </tr>  
    <tr>  
        <th> Enter in your Password </th>  
        <td> <input type="password" id="PasswordGet" name="passwordGet" class="form-control" /> </td>  
   </tr> 
<tr>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Log In</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
