@model PROG_POE_Part3.Models.User

@{
    ViewData["Title"] = "Log In Page";
}
<!DOCTYPE html>
<html>
<body style="background-color:#55B8F9;">
</body>
</html>
<h1>Log In Page</h1>
<h4>Enter in your details</h4>
<tr>  
    <tr>
        <th> Enter in your Username </th>  
        <td> <input type="text" id="UsernameGet" name="usernameGet" class="form-control" /> </td>  
    </tr>  
    <tr>  
        <th> Enter in your Password </th>  
        <td> <input type="password" id="PasswordGet" name="passwordGet" class="form-control" /> </td>   
   </tr> 
<tr>
    <tr>  
        <th>Result</th>  
        <td><input type="label" class="form-control" value="@ViewBag.Results" /> </td>  
    </tr>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Log In</a>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
